<!DOCTYPE html>
<html>
<head>
  <title>Btemplater</title>
  <%= stylesheet_link_tag    "btemplater/application", media: "all" %>
  <%= javascript_include_tag "btemplater/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
